%ul.breadcrumb
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		Студентам
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a.active{ href: schedules_path }
			Расписание занятий
			= @subtitle

.page-header
	%h2
		Расписание занятий
		%small= @subtitle
		- if current_user
			= link_to 'Добавить расписание', new_schedule_path, class: "btn btn-danger"

%ul
	- @schedules.each do |schedule|
		%li
			= link_to schedule.name, schedule
			- if current_user
				%span.text-error
					= link_to schedule, class: "text-error", method: :delete, data: {confirm: "Вы уверены, что ходите удалить?"} do
						%i.icon-remove
