.row-fluid
	.span8.offset2
		= simple_form_for @subject, html: {class: "form-horizontal well"} do |f|
			= f.input :title, label: "Название"
			= f.input :description, label: "Описание"
			= f.association :lecturer, label_method: :name, value_method: :id, label: "Преподаватель", include_blank: false
			= f.input :course, label: "Курс"
			.form-actions
				= f.button :submit, "Сохранить", class: "btn btn-inverse"