%ul.breadcrumb
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		Абитуриенту
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a.active{ href: subjects_path }
			Изучаемые предметы

.page-header
%h1
	Предметы
	%small Изучаемые предметы
	- if current_user
		= link_to "Добавить новый", new_subject_path, class: "btn btn-danger"

- ["Первый", "Второй", "Третий", "Четвертый", "Пятый"].each_with_index do |course, index|
	.well
		%legend3= "#{index+1}. #{course} курс"
		%ol
			- Subject.where(course: index+1).each do |subject|
				%li= link_to subject.title,subject,class: ".tt",title: subject.description
