%ul.breadcrumb
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a{ :href=>root_path } Главная
	%li
		&nbsp;
		%i.icon-chevron-right
		&nbsp;
	%li
		= link_to @post.title,@post
	%li
		&nbsp;
		%i.icon-chevron-right
		&nbsp;
	%li
		= link_to "Изменить",edit_post_path(@post),class: "active"

.well
	.well
		%h4 Внимание
		%ul
			%li
				Текст новости может содержать HTML-код.
			%li
				Используйте тег 
				%b
					&lt;cut&gt;
				, чтобы отделить часть новости, не отображаемую в списке новостей.
			%li
				Рекомендуется использовать заголовки не более 
				%b &lt;h3&gt;&lt;/h3&gt;
				, чтобы не нарушать правила
				%strike фэн-шуя
				типографики.

	= simple_form_for @post, :html=>{multipart: true, class: "well form-horizontal"} do |f|
		%legend Создание новости
		= f.input :title, label: 'Заголовок'
		= f.input :photo, label: 'Фотография'
		= f.input :text, label: 'Текст', input_html: {class: "btn-block", rows: 20}

		.control-group
			= f.label :photos, "Прикрепить фотографии"
			.controls
				%input#photos{ :type=>"file", :name=>"photos[]", :multiple=>"true" }
		
		.form-actions
			= f.button :submit, 'Изменить', :class=>'btn btn-inverse'

		.row-fluid
			.span10.offset2
				%legend Прикрепленные фотографии
				- @post.attachments.each do |att|
					.row-fluid
						.span3
							= image_tag att.photo.thumb.url
						.span9 
							%a{:href=>post_attachment_path(@post,att),"data-confirm"=>"Вы уверны, что хотите удалить изображение?","data-method"=>"delete", :rel=>"nofollow"}
								%i.icon-remove.tt{:id=> att.id,"data-toggle"=>"tooltip","title"=>"Удалить"}
					%br