.well
	= simple_form_for(@lecturer, html: {class: "form-horizontal"}) do |f|
		= f.input :name, label: "ФИО"
		= f.input :position, label: "Должность"
		= f.input :degree, label: "Научная степень"
		= f.input :direction, label: "Научные направления"
		= f.input :photo, label: "Фотография"
		.form-actions
			= f.button :submit, "Создать преподавателя", class: "btn btn-inverse"
				